header{
    box-shadow: 0 1px 3px 0 rgb(0 0 0/10%);
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
}
.header-top{
    background-color: var(--color-one);
    color: var(--color-two);
    font-size: 25px;
    padding: 8px;
    text-align: center;
  
    
}
.header-main .container .inner-wrap .bar{
    display: none;
        
}
@media(max-width:920px) {
    .header .header-top{
        font-size:18 ;
    }
    .header-main .container .inner-wrap .inner-menu{
        display: none;
    }
    .header-main .container .inner-wrap .inner-contact{
        display: none;

    }
    .header-main .container .inner-wrap .inner-social{
        display: none;
    }
    .header-main .container .inner-wrap .bar{
        display: flex;
        font-size: 20px;
        color: var(--color-one);
    }
    .session-one .inner-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    .session-one .inner-wrap .inner-content{
        width: 100%;
        order: 1;
        text-align: center;
        
    }
    .session-one .inner-wrap .inner-content .inner-title{
       font-size: 23px;
        
    }
    .session-one .inner-wrap .inner-item{
       
        justify-content: center;
    } 
    .session-one .inner-wrap .inner-image{
        width: 100%;
       
    }
    .session-one .inner-wrap .inner-image .inner-sale {
        width: 84px;
        height: 84px;
        right: 100px;
    }
    .session-one .inner-wrap .inner-image .inner-sale span:nth-child(1){
        font-size: 18;

    }
    .session-one .inner-wrap .inner-image .inner-sale span:nth-child(2){
        font-size: 25;

    }

    
    
}
.header-main .container .inner-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
.header-main .inner-logo a{
    color: var(--color-one);
    display:flex;
    align-items: center;
}

.header-main .inner-logo img{
    height: 48px;
    width: auto;
    margin-right: 10px;
}
.header-main .inner-logo span{
    font-size: 22px;
    font-weight: 500;
    

}
.header-main .inner-menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
.header-main .inner-menu ul li a{
    color: var(--color-one);
    font-size: 18px;
}
.header-main .inner-menu ul li{
    margin-left: 15px;
   
}
.header-main .inner-contact{
    font-size: 18px;
    color: var(--color-one);
}
.header-main .inner-social ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

}
.header-main .inner-social ul li{
    color: var(--color-one);
    font-size: 26px;
    margin-left: 15px;
}
/* session-one */
.session-one{
    background-color:#F0F2F5 ;
    margin-top: 123px;
   
    
}
.session-one .inner-wrap{
    display: flex;
    position: relative;
}
.session-one .inner-content{
    width: 50%;
}


.session-one .inner-content .inner-title {
    font-size: 50px;
    color: var(--color-one);
    

}
.session-one .inner-content .inner-desc{
    color: var(--color-one);
    font-size: 20px;
    margin-bottom: 40px;
}
.session-one .inner-content .inner-list {
    display: flex;
}
.session-one .inner-content .inner-item{
    width: 50%;
   display: flex;
   align-items: center;
   margin-bottom: 40px;

}
.session-one .inner-content .inner-item i{
    font-size: 24px;
    margin-right: 10px;
    
} 
/* button */
.button{
    background-color: var(--color-one);
    color: #ffff;
    padding: 12px 32px;
    border-radius: 45px;
    font-size: 18px;
    border: 2px solid var(--color-text);
    display: inline-block;
    transition: top 0.3s ease;
 
}
.button:hover{
    color: var(--color-text);
    background-color:#ffff ;
    box-shadow: 0px 0px 3px 5px var(--color-text) ;
    
}
.button-two{
    background-color: var(--color-two);
    border-color: var(--color-two);
  
}
.button-two:hover{
    color: var(--color-two);
    
}
/* button */
.session-one .inner-image{
    width: 50%;
    position: relative;
}
.session-one .inner-image img{
    width: 100%;
}
.session-one .inner-image .inner-sale{
    position: absolute;
    box-shadow: 0px 0px 3px 5px var(--color-two) ;
    top:0;
    right: 150px;
    background: var(--color-two);
    width: 120px;
    height: 120px;
    border-radius: 100%;
    color: var(--color-one);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.session-one .inner-image .inner-sale span:nth-child(1){
    font-size: 22px;
    font-weight: 600;
}
.session-one .inner-image .inner-sale span:nth-child(2){
    font-size: 40px;
    font-weight: 600;
}

/* session-one */
/* session-two */
.session-two{
    padding: 80px 0;
}
.session-two .inner-wrap{
    display: flex;
    justify-content: space-between;
}
.session-two .inner-box{
    width: calc(100%/3 - 20px);
    height: 100%;
    aspect-ratio: 4/3; 
    position: relative;
    overflow: hidden;
    
    /* width/height cua element */
}
.session-two img{
    width: 200px;
    transition: transform 0.3s ease;
}
.session-two .inner-box img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; anh tu co dan den het width/height ma k bi vo */
    object-fit: cover; 
}
.session-two .inner-box .inner-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 30px;
    
}
.session-two .inner-box .inner-tag{
    background: #083405;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 15px;
    color: #ffff;
    margin-bottom: 10px;

}
.session-two .inner-box .inner-title{
    margin-top: 0;
    font-size: 24px;
    color: #ffff;
    font-size: 30px;
    margin-bottom: 30px;
}
.session-two .inner-box .inner-title:nth-last-of-type(2){
    color: var(--color-one);
}
.session-two .inner-box .inner-title:nth-last-of-type(3){
    color: var(--color-one);
}
.button-one{
    background-color: var(--color-one);
    border-color: var(--color-one);
   
}
.button-one:hover{
    color: var(--color-one);
}
.session-two .inner-box:hover img {
    transform: scale(1.2);
  }
.session-two .inner-box .inner-sale{
    color: var(--color-two);
    font-size: 50px;
    margin-bottom: 20px;
}

.session-two .inner-box .inner-price-new{
    color: var(--color-two);
    font-size: 50px;
}
.session-two .inner-box .inner-price-old span{
    color: var(--color-text);
    font-size: 30px;


}



/* session-two */
.session-three {
   
    padding: 100px 0;
    background-color: var(--color-text);
    
}

.session-three .inner-head{
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
    text-align: center;
   color: var(--color-one);
   max-width: 630px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 40px;
   
   
}
.session-three .inner-wrap{
    color: var(--color-one);
    display: flex;
    justify-content: space-evenly;
}
.session-three .inner-head .inner-title{
    font-size: 50px;
    color: var(--color-one);
    margin: 0;
   
    


}
.session-three .inner-head .inner-desc{
    font-size: 22px;
    margin: 0;

}
.session-three .inner-wrap .inner-box {
 width: calc(100%/3);
 padding-left: 10px;
 text-align: center;

   
   
}

.session-four{
    padding: 50px 0;
}
.session-four .inner-wrap{
    display: flex;
   
}
.session-four .inner-content{
    width: 50%;

}
.session-four .inner-image{
    width: 50%;
    position: relative;
    overflow: hidden;
    
}
.session-four .inner-image img{
    transition: transform 0,3s ease;
   
   

}
.session-four .inner-content .inner-title{
    color:var(--color-one);
    font-size: 80px;
    padding-top: 30px;
}
.session-four .inner-content .inner-desc{
    color: var(--color-one);
    font-size: 50px;
}
.session-five{
    padding: 100px 0;
}
.session-five .inner-wrap{
    display: flex;
    justify-content: space-between;
}

.session-five .inner-box{
    width: 100%;
    height: 100px;
    position: relative;
    display: inline;

}



.button-three{
   
   
    background-color: #13b807;
    border-color: #22c516;
}
.button-three:hover{
    color: #0b6405;
}

.session-five .inner-box  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.session-five .inner-box .inner-content{
    display: flex;
    position: absolute;
    top: 0;
   padding-left: 20px;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
   


}
.session-five .inner-box .inner-content p{
    font-size: 30px;
    color: var(--color-one);
    
}
.session-five .inner-box .inner-content i{
    color: var(--color-one);
    font-size: 20px;
    padding-left: 20px;
    margin-right: 50px;
  
}
.session-five .inner-box .inner-content a{
    margin-left: 20px;
}
.session-six {
    padding: 50px 0;
  }
  
  .session-six .inner-wrap {
    display: flex;
    justify-content: space-between;
    height: 300px;
  }
  
  .session-six  .inner-wrap .inner-box {
    width:20%; /* Thay đổi từ 100%/5 thành 20% để phù hợp với justify-content: space-between */

    height: 100%;
   
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border: 1px solid gray;
  }
  .session-six .inner-wrap .inner-box .inner-content{
    position: relative;
    display: flex;
    flex: 1;
    width: 100%;
    height: 100px;
    flex-direction: column-reverse;
    color: var(--color-one);
    order: 1;
    padding-left: 20px;
    padding-bottom: 30px;
   
    
    
  
  }
  .session-six .inner-wrap .inner-box .inner-content .inner-title{
    display: flex;
    order: 3;
  }
  .session-six .inner-wrap .inner-box .inner-content .inner-price{
    display: flex;
    order: 2;
  }
  .session-six .inner-wrap .inner-box .inner-content .star{
    display: flex;
    order: 1;
  }
 
  .session-six  .inner-box .inner-image{
    overflow: hidden;
    width: 100%;
    height: 200px;
    position: absolute;
    flex: 2;
    
  }
 
  .session-six  .inner-box  img{
    
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all 0.6s;
  
    
   
    
  }
  .session-six .inner-box:hover img {
    transform: scale(1.2);
  }

  